{% extends "sunshine/hero_unit.html" %}
{% load i18n %}

{% block location %}{% trans 'Password reset' %} | {% endblock %}


{% block pre_hero_unit %}<div class="row">{% endblock %}
{% block hero_unit_classes %}{% if validlink %}span7 offset2{% else %}centered{% endif %}{% endblock %}

{% block hero_unit %}

{% if validlink %}

    <h2 class="centered">{% trans 'Enter new password' %}</h2>

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form action="" method="post" class="form-horizontal">
        <fieldset>
            {{ form.as_bootstrap }}
            {% csrf_token %}
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}" />
            </div>
        </fieldset>
    </form>

{% else %}

    <h2 class="color-red">{% trans 'Password reset unsuccessful' %}</h2>

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}


{% block pos_hero_unit %}</div>{% endblock %}
