{% extends "sunshine/small_hero_unit.html" %}
{% load i18n %}

{% block location %}{% trans "Password reset" %} | {% endblock %}

{% block hero_unit %}

<h2>{% trans "Password reset" %}</h2>
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post" class="form-horizontal">
    <fieldset>
        {{ form.as_bootstrap }}
        {% csrf_token %}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
        </div>
    </fieldset>
</form>

{% endblock %}
