{% extends 'bootstrap/base.html' %}
{% load i18n %}

{% block title %}{% block location %}{% endblock %}Sunshine{% endblock %}

{% block brand_url %}{% url home %}{% endblock %}

{% block brand %}Sunshine{% endblock %}


{% block nav_lists %}
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="{% block nav_book_upload %}{% endblock %}">
                <a href="{% url library_books %}">{% trans 'Library' %}</a>
            </li>
        {% endif %}

        {% if user.is_superuser %}
            <li>
                <a href="#">{% trans 'Administration' %}</a>
            </li>
        {% endif %}

        <li>
            <a href="#">{% trans 'Report an error' %}</a>
        </li>
        <li class="">
            <a href="#">{% trans 'About us' %}</a>
        </li>
    </ul>

    <ul class="nav pull-right">
        {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-envelope icon-white"></i>
                    <strong class="color-white">1</strong> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-"></i> fulano le recomienda leer El camino a casa</a></li>
                    <li><a href="#"><i class="icon-"></i> verificación de duplicado</a></li>
                    <li><a href="#"><i class="icon-"></i> Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-refresh"></i> {% trans 'Clear' %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="color-gray-lighter">{{ user.username }}</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> {% trans 'Profile' %}</a></li>
                    <li><a href="#"><i class="icon-remove"></i> {% trans 'Remove account' %}</a></li>
                    <li><a data-toggle="modal" href="#change-password-dialog"><i class="icon-lock"></i> {% trans 'Change password' %}</a></li>
                    <li class="divider"></li>
                    <li><a id="logout" href="#"><i class="icon-off"></i> {% trans 'Log out' %}</a></li>
                </ul>
            </li>
        {% else %}
            <li><a data-toggle="modal" href="#signup-dialog"><strong>{% trans 'Sign up' %}</strong></a></li>
            <li><a data-toggle="modal" href="#login-dialog"><strong>{% trans 'Log in' %}</strong></a></li>
        {% endif %}
    </ul>

    {% block nav_search %}
    <form class="navbar-search pull-right" action="">
        <input type="text" class="search-query span3" placeholder="{% trans 'Search' %}">
    </form>
    {% endblock %}

{% endblock %}

{% block script %}
    {% include 'sajax/head.html' %}
    {% include 'spine/head.html' %}
    <script type="text/javascript" src="{{ STATIC_URL }}spine/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/spine.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}sunshine/js/base.js"></script>
    {% include 'ajaxauth/scripts.html' %}
    {% block subscript %}
    {% endblock %}
{% endblock %}
