{% extends 'sunshine/hero_unit.html' %}
{% load i18n %}

{% block head %}
    <link href="{{ STATIC_URL }}sunshine/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block nav_search %}{% endblock %}

{% block hero_unit %}

<h1>Sunshine</h1>
<p>{% trans 'Sharing the knowledge that shines' %},
<strong>+1.230</strong> {% trans 'documents and growing' %}...</p>
<small>{% trans 'This site is in' %} <em class="label label-warning">beta</em></small>

<div class="row-fluid">
    <form class="index-search-form offset1" action="" method="post">
        <input type="text" placeholder="{% trans 'Type what you are looking for here...' %}" class="search-query  span7" autofocus="autofocus" name="q" value="" id="" />
        <input class="btn btn-primary span2" type="submit" value="{% trans 'Search' %}"/>
    </form>
</div>

{% endblock %}
